/* font-family: 'League Spartan', sans-serif; */
/* font-family: 'Roboto Slab', serif; */

* {
    font-family: 'League Spartan', sans-serif;
    color: #fca311;
}

.nav-bg-color {
    background-color: #e5e5e5;
}

.navbar-logo {
    width: 15vw;
}

.menu-line-top-active, .menu-line-bottom-active {
    visibility: hidden;
    background-color: #14213d;
    height: 4px;
    border-radius: 5px;
}

.menu-line-top {
    visibility: hidden;
    background-color: #14213d;
    height: 4px;
    border-radius: 5px;
    width: 0%;
    margin-left: auto;
    transition: width 350ms linear;
}

.menu-line-bottom {
    visibility: hidden;
    background-color: #14213d;
    height: 4px;
    border-radius: 5px;
    width: 0%;
    transition: width 350ms linear;
}

.nav-item:hover > .menu-line-bottom {
    width: 100%;
}

.nav-item:hover > .menu-line-top {
    width: 100%;
}

.profile-image {
    display: none;
}

.text-font-upper, .short-animation, .project-main-title, .project-main-textnav-style {
    font-family: 'Roboto Slab', serif;
}

.text-font-middle {
    font-family: 'Roboto Slab', serif;
    border-right: 5px solid #fca311;
    max-width: 0%;
    overflow: hidden;
    white-space:nowrap;
    animation: border-blink 500ms 8 normal forwards,
               typewriter 2s 1.5s steps(50) forwards;
} 

@keyframes typewriter {
    from {max-width: 0%;}
    to {max-width: 90%;}
}

@keyframes border-blink {
    from {border-color: #fca311;}
    to {border-color: transparent;}
}

.short-animation::before {
    content: attr(data-letters);
    font-family: 'Roboto Slab', serif;
    color: #fca311;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
    -webkit-text-stroke: 1px #fca311;
    animation: short-anim 1s 4s linear forwards;
}

@keyframes short-anim {
    from {width: 0%;}
    to {width: 15%;}
}

.expertise-animation {
    font-family: 'Roboto Slab', serif;
    color: transparent;
    font-size: 1.5rem;
}

.expertise-animation::before {
    content: attr(data-letters);
    font-family: 'Roboto Slab', serif;
    color: #fca311;
    position: absolute;
    white-space: nowrap;
    overflow:hidden;
    height: 0%;
    position: absolute;
    -webkit-text-stroke: 1px #fca311;
    animation: exp-anim 1s 5s linear forwards;
}

@keyframes exp-anim {
    from {height: 0%;}
    to {height: 10%;}
}

.about-me-button {
    font-family: 'Roboto Slab', serif;
    padding: 0.4rem 3.9rem;
    background-color: transparent;
    border: none;
    color: #fca311;
    border: 1px solid #fca311;
}

.download-button {
    font-family: 'Roboto Slab', serif;
    padding: 0.4rem 3.9rem;
    background-color: #fca311;
    border: none;
    color: black;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.9)), url(./assets/website-design.jpg);
    background-repeat:no-repeat;
    background-position: 30%;
    object-fit: cover;
    background-size: cover;
    background-attachment: fixed;
}

.about-title-color {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.8rem;
}

.about-title-color-adj {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.5rem;
}

.services-container {
    justify-content: center;
}

.card-custom  {
    background: rgba(20, 33, 61, 0.8);
    border: 1px solid #fca311;
    box-shadow: 0 0 8px 2px #fca311;
}



.card-alignment-1, .card-alignment-2, .card-alignment-3, .card-alignment-4 {
    justify-content: center;
}

.card-title {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
}

.project-card-style {
    border: 1px solid #fca311;
    box-shadow: 0 5px 10px 1px rgba(99%, 64%, 7%, 0.8);
}

.project-main-textnav-style {
    color: #fca311;
    background-color: #14213d;
}

.project-main-textnav-style:hover {
    color: black;
    background-color: #fca311;
}

.project-card-alignment {
    justify-content: center;
}

.main-card-message {
    background: rgba(0, 0, 0, 0.8);
    height: 19%;
    top: 81%;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: 0.5s;
}

.card-hover:hover > .main-card-message {
    height: 100%;
    top: 0%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.no-outline:focus {
    box-shadow: none;
}

.send-button {
    margin: 1.5rem 6rem 1.5rem 6rem;
    background-color: #fca311;
}

.contact-main-title {
    letter-spacing: 0.2rem;
    font-family: 'Roboto Slab', serif;
}

.contact-title {
    font-size: 2rem;
    text-align: center;
    margin: auto;
    letter-spacing: 1rem;
    font-family: 'Roboto Slab', serif;
    width: 15rem;
}

.contact-text {
    text-align: justify;
    width: 22rem;
    margin: auto;
}

.contact-info {
    width: 22rem;
}

.message-container {
    background: rgba(20, 33, 61, 0.9);
    padding-top: 1.5rem;
    width: 22rem;
}

.tab-height {
    height: 408px;
}

.footer-container {
    background-color: #000000;
}

.social-link-gap {
    gap: 1.5rem;
    margin-bottom: 0.2rem;
}

.footer-text {
    font-family: 'Roboto Slab', serif;
    font-size: 0.7rem;
    font-weight: 300;
    color: white;
    letter-spacing: 0.2rem;
}

.footer-social-link {
    border: 1px solid white;
    border-radius: 50%;
}

.footer-social-link:hover {
    border: none;
}

.social-links {
    color: white;
    transition: 200ms;
}

.footer-social-link:hover > .social-links {
    transform: rotateY(360deg) scale(1.5);
}

@media screen and (min-width: 768px) {
    .navbar-logo {
        width: 6vw;
    }

    .profile-image {
        display: none;
    }

    .expertise-animation {
        font-size: 2rem;
    }

    .navbar-gap {
        gap: 7rem;
    }

    .about-content-width {
        width: 40rem;
    }

    .card-alignment-1, .card-alignment-3 {
        justify-content: end;
    }

    .card-alignment-2, .card-alignment-4 {
        justify-content: start;
    }

    .project-card-alignment {
        justify-content: left;
    }

    .tab-height {
        height: 192px;
    }

    .contact-title {
        font-size: 4rem;
        text-align: center;
        letter-spacing: 1rem;
        font-family: 'Roboto Slab', serif;
        width: 20rem;
    }

    .contact-text {
        text-align: justify;
        width: 20rem;
        margin: auto;
    }

    .contact-info {
        width: 22rem;
    }

    .social-link-gap {
        gap: 1.5rem;
        margin-bottom: 0rem;
    }

    .footer-menu {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {

    .navbar-logo {
        width: 6vw;
    }

    .menu-line-top-active, .menu-line-bottom-active, .menu-line-top, .menu-line-bottom {
        visibility: visible;
    }

    .link-active {
        transform: scale(1.2);
    }

    .nav-item:hover > .link-menu {
        transform: scale(1.2);
    }

    .profile-image {
        display: block;
    }

    .profile-animation {
        position: relative;
        opacity: 0%;
        transform: translateX(-300px);
        z-index: -1;
        animation: profile-anim 2s 4.5s forwards;
    }

    @keyframes profile-anim {
        0% {opacity: 0%; transform: translateX(-300px);}
        100% {opacity: 100%; transform: translateX(0);}
    }

    .expertise-animation {
        font-size: 2.5rem;
    }

    .navbar-gap {
        gap: 7rem;
    }

    .about-content-width {
        width: 40rem;
    }

    .services-container {
        justify-content: space-evenly;
    }

    .card-alignment-1 {
        justify-content: end;
    }

    .card-alignment-2, .card-alignment-4 {
        justify-content: center;
    }

    .card-alignment-3 {
        justify-content: start;
    }

    .project-card-alignment {
        justify-content: left;
    }

    .tab-height {
        height: 192px;
    }

    .contact-text {
        width: 25rem;
    }

    .contact-info {
        width: 400px;
    }

    .width-adjustment {
        width:28rem;
    }

    .message-container {
        width: 33rem;
    }

    .contact-info {
        margin: 0 12px;
    }

    .social-link-gap {
        gap: 3rem;
        margin-bottom: 0rem;
    }
    

}