/* font-family: 'League Spartan', sans-serif; */
/* font-family: 'Roboto Slab', serif; */

* {
    font-family: 'League Spartan', sans-serif;
    color: #fca311;
}

.nav-bg-color {
    background-color: #e5e5e5;
}

.navbar-logo {
    width: 15vw;
}

/* .nav-container {
    width: 50px;
    height: 2.3rem;
}
.nav-checkbox:checked ~ .nav-container {
    background: red;
}

.nav-custom {
    border: 3px solid black;
    border-radius: 6px;
}

.nav-line-1 {
    border-top: 5px solid black;
    border-radius: 3px;
    width: 2rem;
    position: absolute;
    bottom: 6px;
    left: 8px;
}

.nav-line-2 {
    border-top: 5px solid black;
    border-radius: 3px;
    width: 2rem;
    position: absolute;
    bottom: 16px;
    left: 8px;
}

.nav-line-3 {
    border-top: 5px solid black;
    border-radius: 3px;
    width: 2rem;
    position: absolute;
    bottom: 26px;
    left: 8px;
}

.header-menu {
    display: none;
}

.line-1 {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    font-size: 2.6rem;
    animation: border-blink 400ms infinite reverse linear;
} */


.text-font-upper {
    font-family: 'Roboto Slab', serif;
}

.text-font-middle {
    font-family: 'Roboto Slab', serif;
    border-right: 5px solid #fca311;
    max-width: 0%;
    overflow: hidden;
    white-space:nowrap;
    animation: border-blink 500ms 15 normal forwards,
               typewriter 2s 3s steps(50) forwards;
} 

@keyframes typewriter {
    from {max-width: 0%;}
    to {max-width: 90%;}
}

@keyframes border-blink {
    from {border-color: #fca311;}
    to {border-color: transparent;}
}

.short-animation {
    font-family: 'Roboto Slab', serif;
}

.short-animation::before {
    content: attr(data-letters);
    font-family: 'Roboto Slab', serif;
    color: #fca311;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
    -webkit-text-stroke: 1px #fca311;
    animation: short-anim 1s 7s linear forwards;
}

@keyframes short-anim {
    from {width: 0%;}
    to {width: 15%;}
}

.expertise-animation {
    font-family: 'Roboto Slab', serif;
    color: #14213d;
    font-size: 1.5rem;
}

.expertise-animation::before {
    content: attr(data-letters);
    font-family: 'Roboto Slab', serif;
    color: #fca311;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    height: 0%;
    -webkit-text-stroke: 1px #fca311;
    animation: exp-anim 1s 8s linear forwards;
}

@keyframes exp-anim {
    from {height: 0%;}
    to {height: 10%;}
}

.about-me-button, .download-button {
    font-family: 'Roboto Slab', serif;
    padding: 0.4rem 3.9rem;
    background-color: transparent;
    border: none;
    color: #fca311;
    border: 1px solid #fca311;
}

.download-button {
    font-family: 'Roboto Slab', serif;
    padding: 0.4rem 3.9rem;
    background-color: #fca311;
    border: none;
    color: black;
}

.main-color-content {
    background-color:#14213d;
}

.index-main-height-adj{
    height: 82vh;
}


.about-title-color {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.8rem;
}

.about-title-color-adj {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.5rem;
}

.card-custom {
    background: rgba(99%, 64%, 7%, 0.1);
    border: 1px solid rgba(99%, 64%, 7%, 0.4);
    box-shadow: 0 0 10px 1px #fca311;
}

.card-alignment-1, .card-alignment-2, .card-alignment-3, .card-alignment-4 {
    justify-content: center;
}

.card-color {
    background-color: #fca311;
}

.card-image {
    width: 5.7rem;
    height: auto;
}

.modify-card {
    height: 10.2rem;
}
.dropdown-list {
    width: 14.1rem;
}

.no-outline:focus {
    box-shadow: none;
}

.send-button {
    margin: 1.5rem 6rem 1.5rem 6rem;
    background-color: #fca311;
}

.letter-spacing {
    letter-spacing: 0.2rem;
}

.contact-title {
    font-size: 2rem;
    text-align: center;
    margin: auto;
    letter-spacing: 1rem;
    font-family: monospace;
    width: 15rem;
}

.contact-text {
    text-align: justify;
    width: 22rem;
    margin: auto;
}

.message-container {
    background: rgba(99%, 64%, 7%, 0.3);
    padding-top: 1.5rem;
    width: 22rem;
    border: 1px solid rgba(99%, 64%, 7%, 0.5);
}

.contact-info, .footer-menu {
    display: none;
}

.footer-container {
    background-color: #000000;
}

.footer-logo {
    width: 88px
}

.social-link {
    width: 280px;
}

@media screen and (min-width: 768px) {
    .navbar-logo {
        width: 6vw;
    }

    .expertise-animation {
        font-size: 2rem;
    }
   
    .index-main-height-adj{
        height: 72vh;
    }

    .main-color-content {
        padding: 11vh 0;
    }

    .about-content-width {
        width: 40rem;
    }

    .card-alignment-1, .card-alignment-3 {
        justify-content: end;
    }

    .card-alignment-2, .card-alignment-4 {
        justify-content: start;
    }

    .contact-title {
        font-size: 4rem;
        text-align: center;
        letter-spacing: 1rem;
        font-family: monospace;
        width: 20rem;
    }

    .contact-text {
        text-align: justify;
        width: 20rem;
        margin: auto;
    }

    .contact-info {
        display: block;
    }

    .footer-menu {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {

    .navbar-logo {
        width: 6vw;
    }

    .index-main-height-adj{
        height: 79vh;
    }

    .expertise-animation {
        font-size: 2.5rem;
    }

    .contact-main-height-adj {
        padding: 2.5vh 0;
    }

    .navbar-gap {
        gap: 7rem;
    }

    .about-content-width {
        width: 40rem;
    }

    .card-alignment-1 {
        justify-content: end;
    }

    .card-alignment-2, .card-alignment-4 {
        justify-content: center;
    }

    .card-alignment-3 {
        justify-content: start;
    }

    .contact-text {
        width: 25rem;
    }

    .width-adjustment {
        width:28rem;
    }

    .message-container {
        width: 33rem;
    }

    .contact-info {
        display: block;
    }
    

}